node_modules
.next
out
build
.git
.gitignore
.github
.env
.env.local
.env*.local
data
*.db
*.db-journal
.DS_Store
.idea
.vscode
npm-debug.log*
*.tsbuildinfo
README.md
ecosystem.config.js
ecosystem.local.config.cjs
